#pane0,#pane1,#pane2,#pane3{
    float:left
}

@media screen and (max-width: 576px){
    #pane0{
        display: block;
        width:100%;
    }
    #pane1,#pane2,#pane3{
        display:none;
    }
}
@media screen and (min-width: 578px){
    #pane0,#pane1{
        display: block;
        width:50%;
    }
    #pane2,#pane3{
        display:none;
    }
}
@media screen and (min-width: 768px){
    #pane0,#pane1,#pane2{
        display: block;
        width:33%;
    }
    #pane3{
        display:none;
    }
}
@media screen and (min-width: 992px){
    #pane0,#pane1,#pane2,#pane3{
        display: block;
        width:25%;
    }
}
